[package]
name = "zilliqa"
version = "0.1.0"
edition = "2021"

[lib]
name = "zilliqa"
path = "src/lib.rs"

[[bin]]
name = "zilliqa"
path = "src/bin/zilliqa.rs"

[features]
# Enable tests which assert contract bytecode is correct and reproducible. Enabled in CI.
test_contract_bytecode = []

[build-dependencies]
vergen = { version = "8.2.1", features = ["git", "gitcl"] }

[dependencies]
anyhow = { version = "1.0.71", features = ["backtrace"] }
async-trait = "0.1.68"
bitvec = { version = "1.0.1", features = ["serde"] }
bls-signatures = "0.14.0"
bls12_381 = "0.8.0"
bincode = "1.3.3"
eth_trie = {path =  "../eth-trie.rs"}
clap = { version = "4.3.3", features = ["derive"] }
ethabi = "18.0.0"
evm = { git = "https://github.com/Zilliqa/evm.git", rev = "d3ebfbdeab0ccb0da38f1ccfee4fed41fd931d1d", features = ["tracing"] }
futures = "0.3.28"
generic-array = "0.14.7"
hex = { version = "0.4.3", features = ["serde"] }
http = "0.2.9"
itertools = "0.10.5"
jsonrpsee = { version = "0.18.2", features = ["server"] }
k256 = {version = "0.13.1", features = ["serde", "pem"] }
libp2p = { version = "0.51.0", features = ["gossipsub", "macros", "tcp", "tokio", "noise", "mdns", "request-response", "kad", "identify", "yamux"] }
once_cell = "1.18.0"
# TODO: Use "0.20.0" when released
opentelemetry = { git = "https://github.com/open-telemetry/opentelemetry-rust", rev = "ecf0dda5686dc45470ae02993a4748c289c407de", features = ["metrics", "rt-tokio"] }
opentelemetry-otlp = { git = "https://github.com/open-telemetry/opentelemetry-rust", rev = "ecf0dda5686dc45470ae02993a4748c289c407de", features = ["metrics", "http-proto"] }
primitive-types = { version = "0.12.1", features = ["serde"] }
rand = "0.8.5"
rand_core = "0.6.4"
rlp = "0.5.2"
serde_bytes = "0.11.9"
serde = { version = "1.0.164", features = ["derive", "rc"] }
serde_json = { version = "1.0.99", features = ["raw_value"] }
sha2 = "0.10.6"
sha3 = "0.10.8"
tokio = { version = "1.28.2", features = ["macros", "rt-multi-thread", "signal", "sync"] }
tokio-stream = "0.1.14"
toml = "0.7.4"
tower = "0.4.13"
tower-http = { version = "0.4.0", features = ["cors"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
zilliqa-macros = { path = "../zilliqa-macros" }

[dev-dependencies]
async-trait = "0.1.68"
ethers = { version = "2.0.7", default-features = false, features = ["ethers-solc", "legacy"] }
rand_chacha = "0.3.1"
tempfile = "3.6.0"
ureq = "2.6.2"
