[submodule "vendor/openzeppelin-contracts"]
	path = vendor/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "uccb/contracts/lib/forge-std"]
	path = uccb/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
