[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-apple-darwin" },
]

all-features = true

[licenses]
allow = [
    "0BSD",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "ISC",
    "MIT",
    # While MPL-2.0 is strictly a copyleft license, it is not 'viral'. The license only requires that modifications be
    # licensed under the MPL. New files, which are part of a larger work are not considered as modifications, unlike
    # (for example) the GPL. See Q1 and Q11 from the FAQ: https://www.mozilla.org/en-US/MPL/2.0/FAQ/.
    "MPL-2.0",
    "OpenSSL",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "Unlicense",
    "Zlib",
]
exceptions = [
    # This license is very permissive, and only used by the underlying reqwest dependency.
    { allow = ["CDLA-Permissive-2.0"], crate = "webpki-roots" },
]

# See https://github.com/briansmith/ring/issues/1487#issuecomment-1102733762.
[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]

[sources.allow-org]
github = [ "zilliqa" ]

[advisories]
ignore = [

    # { id = "RUSTSEC-2025-0009", reason = "downstream dependency of ethers-rs which is only used in tests" },
    # { id = "RUSTSEC-2025-0010", reason = "downstream dependency of ethers-rs which is only used in tests" },
    { id = "RUSTSEC-2024-0384", reason = "downstream dependency of ethers-rs which is only used in tests" },
    { id = "RUSTSEC-2024-0436", reason = "unmaintained, we'll upgrade eventually" },
    { id = "RUSTSEC-2025-0057", reason = "unmaintained" },
    { id = "RUSTSEC-2025-0137", reason = "will be updated by downstream ruint >= 0.17.0" },
]
