---
# GCP Configuration
ansible_ssh_args: --tunnel-through-iap --zone={{ zone }} --no-user-output-enabled
ansible_scp_extra_args: --tunnel-through-iap --zone={{ zone }} --quiet

# Node Configuration
eth_chain_id: 33469
chain_name: "zq2-devnet"
dns_subdomain: "zq2-devnet.zilliqa.com"
stats_endpoint: "stats.zq2-devnet.zilliqa.com"
project_id: prj-d-zq2-devnet-c83bkpsd
log_level: "zilliqa=info"
enable_faucet: true
ubuntu_version: "24.04"

# Docker images
zq2_image: asia-docker.pkg.dev/prj-p-devops-services-tvwmrf63/zilliqa-public/zq2:v0.20.0
otterscan_image: asia-docker.pkg.dev/prj-p-devops-services-tvwmrf63/zilliqa-public/otterscan:v1.0.7
spout_image: asia-docker.pkg.dev/prj-p-devops-services-tvwmrf63/zilliqa-public/eth-spout:main
stats_dashboard_image: asia-docker.pkg.dev/prj-p-devops-services-tvwmrf63/zilliqa-public/zilstats-server:v0.1.0
stats_agent_image: asia-docker.pkg.dev/prj-p-devops-services-tvwmrf63/zilliqa-public/zilstats-agent:v0.1.0
process_exporter_image: ncabatoff/process-exporter:0.8.1
node_exporter_image: prom/node-exporter:v1.9.0

# Persistence Configuration
persistence_snapshot_id: ""
checkpoint_url: ""

# KMS Configuration
enable_kms: false
kms_project_id: "{{ 'prj-p-kms-2vduab0g' if project_id.startswith('prj-p') else 'prj-d-kms-tw1xyxbh' }}"
