---
network:
  name: {{ chain_name }}
  eth_chain_id: {{ eth_chain_id }}

node:
  name: {{ node_name }}-otterscan
  log_level: {{ log_level }}

api:
  public_api: {{ public_api }}

persistence:
  path: /var/lib/zilliqa/otterscan 