[Unit]
Description=Zilliqa 2.0 Spout
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/docker run --rm \
    --name spout \
    --network host \
    --volume /var/lib/zilliqa/spout:/var/lib/zilliqa/spout \
    --volume /etc/zilliqa/spout:/etc/zilliqa/spout \
    --log-driver json-file \
    --log-opt max-size=100m \
    --log-opt max-file=3 \
    {{ spout_image }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 