---
network:
  name: {{ chain_name }}
  eth_chain_id: {{ eth_chain_id }}

node:
  name: {{ node_name }}-stats-dashboard
  log_level: {{ log_level }}

api:
  public_api: {{ public_api }}

dashboard:
  port: {{ stats_dashboard_port }}
  refresh_interval: {{ stats_dashboard_refresh_interval }} 