#!/bin/bash
echo yes | gcloud auth configure-docker asia-docker.pkg.dev,europe-docker.pkg.dev

ZQ2_IMAGE="{{ zq2_image }}"
SCILLA_SERVER_PORT="62831"

start() {
    docker ps -a --filter "name=zilliqa-" --format "{{'{{'}}.ID{{'}}'}}" | xargs -r docker rm -f &> /dev/null || echo 0
    docker run --ulimit nofile=1000000:1000000 -td -p 3333:3333/udp -p 4201:4201 -p 4202:4202 --cap-add=SYS_PTRACE --cap-add=PERFMON --cap-add=BPF --cap-add=SYS_ADMIN \
        --net=host --name zilliqa-{{ zq2_version }} \
        -v /config.toml:/config.toml \
        -v /zilliqa.log:/zilliqa.log \
        -v /data:/data \
{% if checkpoint_url is defined and checkpoint_url != '' %}
        -v /tmp/{{ checkpoint_url.split('/')[-1] }}:/{{ checkpoint_url.split('/')[-1] }} \
{% endif %}
        --log-driver json-file --log-opt max-size=1g --log-opt max-file=1 \
        --memory=6g \
        -e RUST_LOG='{{ log_level }}' \
        -e OTEL_METRIC_EXPORT_INTERVAL=60000 \
        -e RUST_BACKTRACE=1 \
        -e REDIS_ENDPOINT={{ redis_endpoint }} \
{% if allowed_ips is defined and allowed_ips %}
        -e ALLOWED_IPS={{ allowed_ips }} \
{% endif %}
{% if allowed_keys is defined and allowed_keys %}
        -e ALLOWED_KEYS={{ allowed_keys }} \
{% endif %}
        -e SECRET_KEY={{ zq2_private_key }} \
        --restart=unless-stopped \
        ${ZQ2_IMAGE} ${SCILLA_SERVER_PORT} --log-json
    docker system prune -a -f --volumes
}

stop() {
    docker ps --filter "name=zilliqa-" --format "{{'{{'}}.ID{{'}}'}}" | xargs -r docker stop
}

case ${1} in
    start|stop) ${1} ;;
esac

exit 0
