[Unit]
Description=ZQ2 metrics app

[Service]
Type=forking
ExecStart=/usr/local/bin/zq2_metrics.sh start
ExecStop=/usr/local/bin/zq2_metrics.sh stop
RemainAfterExit=yes
Restart=on-failure
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target