---
- name: Install required packages
  hosts: all
  become: true
  tags:
    - install
    - all
  
  tasks:
  
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Update and upgrade all packages
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist

    - name: Install required packages basic packages
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - build-essential
          - ca-certificates
          - curl
          - fio
          - gnupg
          - google-compute-engine
          - google-compute-engine-oslogin
          - google-guest-agent
          - google-osconfig-agent
          - jq
          - lsb-release
          - ncdu
          - pigz
          - python3-dev
          - python3-pip
          - python3-setuptools
          - python3-venv
          - python3-wheel
          - software-properties-common
          - unzip
          - util-linux
          - zip
        state: present

    - name: Ensure /opt/zilliqa exists
      ansible.builtin.file:
        path: /opt/zilliqa
        state: directory
        mode: '0755'

    - name: Create a virtual environment
      ansible.builtin.command:
       cmd: python3 -m venv /opt/zilliqa/venv
       creates: /opt/zilliqa/venv/bin/pip

    - name: Ensure pip is installed in the new virtual environment
      ansible.builtin.command: 
        cmd: /opt/zilliqa/venv/bin/python3 -m ensurepip --upgrade

    - name: Install Python packages
      pip:
        name:
          - flask
          - google-cloud-storage
          - google-cloud-kms
          - requests
        state: present
        virtualenv: /opt/zilliqa/venv