---
- name: Install and configure Checkpoints
  hosts: role_opsnode
  become: true
  tags:
    - install
    - all

  tasks:

    - name: Install required Python packages
      ansible.builtin.pip:
        name:
          - google-cloud-logging
          - requests
        state: present
        virtualenv: /opt/zilliqa/venv

    - name: Create Checkpoints script
      template:
        src: templates/checkpoints.py.j2
        dest: /usr/local/bin/checkpoints.py
        mode: '0755'
      notify:
        - Restart Checkpoints service

    - name: Create Checkpoints systemd service
      template:
        src: templates/checkpoints.service.j2
        dest: /etc/systemd/system/checkpoints.service
        mode: '0644'
      notify:
        - Restart Checkpoints service

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

    - name: Start and enable checkpoints service
      systemd:
        name: checkpoints.service
        state: started
        enabled: yes
        daemon_reload: yes

  handlers:
    - name: Restart Checkpoints service
      systemd:
        name: checkpoints.service
        state: restarted
        enabled: yes
        daemon_reload: yes