---

- name: Required packages installation
  ansible.builtin.import_playbook: install_packages.yml

- name: Mount data disk
  ansible.builtin.import_playbook: mount_data_disk.yml

- name: Docker installation
  ansible.builtin.import_playbook: install_docker.yml

- name: Monitoring exporters installation
  ansible.builtin.import_playbook: install_monitoring.yml

- name: Ops Agent installation
  ansible.builtin.import_playbook: install_ops_agent.yml

- name: Gcloud installation
  ansible.builtin.import_playbook: install_gcloud.yml

- name: Log rotation configuration
  ansible.builtin.import_playbook: configure_logrotate.yml

- name: Download Zilliqa node persistence
  ansible.builtin.import_playbook: download_persistence.yml
  when: persistence_url is defined and persistence_url != ""

- name: Zilliqa node installation
  ansible.builtin.import_playbook: install_zilliqa.yml
  vars:
    target_group: role_bootstrap

- name: Zilliqa node installation
  ansible.builtin.import_playbook: install_zilliqa.yml
  vars:
    target_group: all:!role_apps:!role_bootstrap

- name: Healthcheck service configuration
  ansible.builtin.import_playbook: configure_healthcheck.yml

- name: Otterscan installation
  ansible.builtin.import_playbook: install_otterscan.yml

- name: Spout installation
  ansible.builtin.import_playbook: install_spout.yml
  when: enable_faucet

- name: Stats Dashboard installation
  ansible.builtin.import_playbook: install_stats_dashboard.yml

- name: Stats Agent installation
  ansible.builtin.import_playbook: install_stats_agent.yml

- name: Import checkpoint service installation
  ansible.builtin.import_playbook: install_checkpoint_service.yml

- name: Import persistence backup installation
  ansible.builtin.import_playbook: install_persistence_backup.yml

- name: Ethereum Metrics Exporter installation
  ansible.builtin.import_playbook: install_ethereum_metrics_exporter.yml
  when: ethereum_metrics_exporter_image is defined and ethereum_metrics_exporter_image != ""

- name: Import rocksdb-tools installation
  ansible.builtin.import_playbook: install_rocksdb_tools.yml