on:
  push:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  ZQ_TEST_TEMP_DIR: ${{ github.workspace }}/tmp

jobs:
  benchmark_base_branch:
    name: Continuous Benchmarking
    permissions:
      checks: write
    runs-on: ubuntu-latest-8-cores
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: bencherdev/bencher@main
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y && echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Install default toolchain
        run: rustup toolchain install
      - name: Install dependencies
        run: sudo add-apt-repository ppa:ethereum/ethereum && sudo apt update && sudo apt install -y solc build-essential pkg-config libssl-dev cmake protobuf-compiler libclang-dev
      - name: Track base branch benchmarks
        run: |
          bencher run \
          --project zq2 \
          --token '${{ secrets.BENCHER_API_TOKEN }}' \
          --branch main \
          --testbed self-hosted \
          --threshold-measure latency \
          --threshold-test t_test \
          --threshold-max-sample-size 64 \
          --threshold-upper-boundary 0.99 \
          --thresholds-reset \
          --adapter rust_criterion \
          --github-actions '${{ secrets.GITHUB_TOKEN }}' \
          cargo bench
