p2p_port = 3333
bootstrap_address = [ "12D3KooWEhXxYZtu2FyDNQCJL4wff525Gj8knCdRvE7gcNMDVp9V", "/ip4/34.143.150.198/udp/3333/quic-v1" ]

[[nodes]]
eth_chain_id = 33469
allowed_timestamp_skew = { secs = 60, nanos = 0 }
data_dir = "/data"
consensus.genesis_accounts = [ ["0xd4b13a10f43be60F8DF150C0996F6dE377cD770c", "21_000_000_000_000_000_000_000_000_000"] ]
consensus.genesis_deposits = [ ["9035ec5c84568bdc05d0f50c95f4e7898eaac5806e12c150c1723cb82cbc57881fbc5dff032b879522415c7acebe1aef", "12D3KooWEhXxYZtu2FyDNQCJL4wff525Gj8knCdRvE7gcNMDVp9V", "100_000_000_000_000_000_000_000_000", "0xd4b13a10f43be60F8DF150C0996F6dE377cD770c"] ]

# Reward parameters
consensus.rewards_per_hour = "51_000_000_000_000_000_000_000"
consensus.blocks_per_hour = 3600
consensus.minimum_stake = "10_000_000_000_000_000_000_000_000"
# Gas parameters
consensus.eth_block_gas_limit = 84000000
consensus.gas_price = "4_761_904_800_000"
